body {
    background-color: #f1f4f6;
    font-family: 'Georgia', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #182d42;
    text-align: left;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}

h1 {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Georgia', serif;
    font-weight: 300;
    font-size: 20px;
}

h4 {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 17px;
    margin: 0;
    padding: 0;
    font-style: italic;
}

p {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.indented-paragraph {
    text-indent: 30px;
}

a {
    color: #182d42;
    text-decoration: underline;
}

.bordered-section {
    border: 1px solid #333; 
    padding-left: 10px;
    padding-right: 10px;    
    margin: 10px;
    border-radius: 8px;
    background-color: #eaeff2;
}

.site-container {
    border: 1px solid #333;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.flex-item {
    flex: 1 1 300px; /* Grow, shrink, basis */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #eaeff2;
    box-sizing: border-box;
    max-width: 100%;
}

#about, #contact, #playground-info, #puffins {
    flex: 0 100%; /* Full width, no wrap */
}

button {
    background-color: #2e5a7a;
    font-family: 'Georgia', serif;
    color: white; 
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    text-align: left;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

table tbody tr:nth-child(odd) {
    background-color: #e2eaee;
}

/* .studies-table thead {
    background-color: #f1f4f6;
} */

.carParkTable th, .carParkTable td {
    border: 1px solid #ddd;
    padding: 8px;

}

#carParkTable th {
    cursor: pointer;
    position: relative; /* For positioning the hint */
}

/* Style for a subtle sort icon or label before user interaction */
#carParkTable th::after {
    content: ' ⇅';  /* This will show an up/down arrow next to each column */
    font-size: 0.8em;
    color: rgb(52, 52, 52);
    margin-left: 5px;
}

.contact-form {
    border: 1px solid #ccc; /* Thin border around the form */
    padding: 20px;
    background-color: #f8f8f8;
    max-width: 400px; /* Maximum width of the form */
    margin: 0 auto; /* Center the form */
    border-radius: 4px; /* Slightly rounded corners */
    box-sizing: border-box;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: normal;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
/* submit button */
.contact-form input[type="submit"] {
    background-color: #2e5a7a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.contact-form input[type="submit"]:hover {
    background-color: #244969;
}

/* hamburger icon */
.hamburger-menu {
    position: relative;
    display: flex; /* always visible */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 10; /* make sure it's on top */
    margin: 20px; /* adjust as needed */
}

/* hamburger icon bars */
.hamburger-menu .bar {
    width: 100%;
    height: 4px;
    background-color: #333;
    margin: 3px 0;
    border-radius: 2px;
}


.nav-menu {
    display: none; /* hide the menu by default */
    position: absolute; /* position the menu */
    border: 1px solid #ddd; 
    background-color: #f1f4f6; 
    border-radius: 5px; /* rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadow */
    padding-right: 20px;
}

/* when active, show the menu */
.nav-menu.active {
    display: block;
}

/* styling for menu items */
nav ul {
    list-style: none;
    padding-left: 25px;
    margin: 0;
}
nav ul li {
    margin: 5px 0;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.puffin-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    height: 350px;
}
.puffin-gallery img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

#fetchTimeButton {
    margin-bottom: 20px;
}

#parkingErrorMessage, #petErrorMessage {
    color: rgb(144, 51, 51);
  }

#dogPic, #catPic {
    display: flex;
    max-width: 600px;
    height: auto;
    justify-content: center;
    align-items: center;
}

/*
#languageFin {
    padding: 3px 10px;
    font-family: 'Georgia', serif;
    font-size: 13px;
}

#languageEng {
    padding: 3px 10px;
    font-family: 'Georgia', serif;
    font-size: 13px;
}
*/

@media (max-width: 600px) {

    .site-container {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    }

    .flex-container {
        flex-direction: column;
        padding: 10px;
    }
    .flex-item {
        flex: 1 1 auto; /* Allow items to adjust based on content size */
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
    }
    #puffin-gallery {
        height: 200px;
    }
}