

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between items */
    justify-content: space-between;
}

.flex-item {
    flex: 1 1 350px; /* Grow, shrink, basis */
    padding: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #eaeff2;
}

#about, #contact, #playground-info {
    flex: 0 100%;
}

body {
    background-color: #f1f4f6;
    font-family: 'Georgia', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #182d42;
    text-align: left;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}

h1 {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Georgia', serif;
    font-weight: 300;
    font-size: 20px;
}

h4 {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 17px;
    margin: 0;
    padding: 0;
    font-style: italic;
}

p {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.indented-paragraph {
    text-indent: 30px;
}

a {
    color: #182d42;
    text-decoration: underline;
}

.bordered-section {
    border: 1px solid #333; 
    padding: 1cap; 
    margin: 10px;
    border-radius: 8px;
    background-color: #eaeff2;
}

.site-container {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 1cap;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    text-align: left;
}

.studies-table th, .studies-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.studies-table tbody tr:nth-child(odd) {
    background-color: #e2eaee;
}

.studies-table thead {
    background-color: #f1f4f6;
}

button {
    background-color: #2e5a7a;
    font-family: 'Georgia', serif;
    color: white; 
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

#languageFin {
    padding: 3px 10px;
    font-family: 'Georgia', serif;
    font-size: 13px;
}

#languageEng {
    padding: 3px 10px;
    font-family: 'Georgia', serif;
    font-size: 13px;

}

/* Styling for the contact form */
.contact-form {
    border: 1px solid #ccc; /* Thin border around the form */
    padding: 20px;
    background-color: #f8f8f8;
    max-width: 400px; /* Maximum width of the form */
    margin: 0 auto; /* Center the form */
    border-radius: 4px; /* Slightly rounded corners */
    box-sizing: border-box;
}
/* Styling for form labels */
.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: normal;
}
/* Styling for form inputs and textarea */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Styling for the submit button */
.contact-form input[type="submit"] {
    background-color: #2e5a7a; /* Green background */
    color: white; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.contact-form input[type="submit"]:hover {
    background-color: #154168; /* Darker green on hover */
    background-color: #244969; /* Darker green on hover */
}

/* Hamburger Icon */
.hamburger-menu {
    position: relative;
    display: flex; /* Always visible */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 10; /* Ensure it's on top */
    margin: 20px; /* Adjust as needed */
}

/* Hamburger icon bars */
.hamburger-menu .bar {
    width: 100%;
    height: 4px;
    background-color: #333; /* Adjust the color */
    margin: 3px 0;
    border-radius: 2px;
}

/* Hide the menu by default */
.nav-menu {
    display: none;
    position: absolute; /* Position the menu */
    border: 1px solid #ddd; /* Optional border */
    background-color: #f1f4f6; /* Background color */
    border-radius: 5px; /* Optional rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
    padding-right: 20px;
}

/* When active, show the menu */
.nav-menu.active {
    display: block;
}

nav ul {
    list-style: none;
    padding-left: 25px;
    margin: 0;
}

nav ul li {
    margin: 5px 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}




/* Flex container for images */
.image-grid {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 10px; /* Space between images */
    justify-content: center; /* Center images horizontally */
}

.image-grid img {
    display: block;
    width: 100%; /* Full width of its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: Rounded corners */
    max-width: 200px; /* Maximum width of images */
    flex: 1 1 200px; /* Flex-grow and flex-shrink with a basis of 200px */
    box-sizing: border-box; /* Include padding and border in the width */

}


@media (max-width: 600px) {
    .flex-container {
        flex-direction: column; /* Stack items vertically on small screens */
        flex: 1 1 100%
    }
}